VITE_AUTH_API_URL=http://localhost:8001
VITE_SPATIAL_API_URL=http://localhost:8000
VITE_MIND_MAPPER_API_URL=http://localhost:8002
VITE_NOTIFICATIONS_API_URL=http://localhost:8005
VITE_REALTIME_WS_URL=ws://localhost:8004
